<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new post</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <form action="" method="post"> {% csrf_token %}
        <p>Title:</p>
        <input type="text" name="title">
        <p>Text:</p>
        <input type="text" name="text">
        <p><button type="submit">Send</button></p>
    </form>

<p><a href="/news/" target="_blank">Main Page</a></p>
</body>
</html>